<%= render "shared/second-header"%>

<div class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="form-signin w-50 m-auto">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <h1 class="h3 mb-3 fw-normal text-center">ユーザー新規登録</h1>
      <%= render 'shared/error_messages', model: f.object %>  
      <div class="form-floating">
        <%= f.text_field :nickname, class: 'form-control', id: 'floatingInput', placeholder: ' ' %>
        <label for="floatingInput">Nickname</label>
      </div>

      <div class="form-floating">
        <%= f.email_field :email, class: 'form-control', id: 'floatingInput', placeholder: ' ' %>
        <label for="floatingInput">Email address</label>
        <p class='info-text'>※PC・携帯どちらでも可</p>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, class: 'form-control', id: 'floatingPassword', placeholder: ' ' %>
        <label for="floatingPassword">Password</label>
        <p class='info-text'>※6文字以上英字と数字の両方を含めて設定してください</p>
      </div>
      <div class="form-floating">
        <%= f.password_field :password_confirmation, class: 'form-control', id: 'floatingPassword', placeholder: ' ' %>
        <label for="floatingPassword">Password confirmation</label>
        <p class='info-text'>※同じパスワードを入力して下さい</p>
      </div>

      <div class="form-floating">
      <%= f.select :role, options_for_select([["一般", "user"], ["管理者", "admin"]], selected: 1), {}, class: "form-select form-select-lg mb-3 ", aria: { label: ".form-select-lg example" } %>
      <label for="floatingPassword">Role</label>
      </div>

      <div class="mx-auto p-2 w-50" >
      <%= f.submit "会員登録", class: 'btn btn-primary w-100 py-2' %>
      </div>

    <% end %>
  </div>
</div>

<%= render "shared/second-footer"%>
