
<header class='top-page-header'>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3 sticky-top">
      <div class="container">
        <a class="navbar-brand d-flex" href="/">
          <%= image_tag 'logo-only.png', class: "logo" %>
          <h2 class="ms-3 pt-2 text-white">Workplace Search</h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto ">
          <% if user_signed_in? %>
            <li class="nav-item p-2">
              <a class="nav-link" href="#home">Session</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="#services">レビュー投稿</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="#features">マイページ</a>
            </li>
            <li class= "navbar-user ms-4 my-auto "> ユーザー：<%= current_user.nickname %> </li> 
            <li ><%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-danger ms-3", data: { turbo_method: :delete } %></li>
          <% else %>
          <li ><%= link_to 'ログイン', new_user_session_path, class: "btn btn-light ms-3" %></li>
          <li ><%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary ms-3" %></li>
          <% end %>
          </ul>

        </div>
      </div>
    </nav>
</header>