<%= render "shared/second-header"%>
<div class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="form-signin w-50 m-auto">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
      
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="form-floating">
        <%= f.email_field :email, class: 'form-control', id: 'floatingInput', placeholder: 'name@example.com' %>
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <%= f.password_field :password, class: 'form-control', id: 'floatingPassword', placeholder: 'Password' %>
        <label for="floatingPassword">Password</label>
      </div>

      <div class="mx-auto p-2 w-50" >
      <%= f.submit "Sign in", class: 'btn btn-primary w-100 mt-3 py-2' %>
      </div>

    <% end %>
  </div>
</div>

<%= render "shared/second-footer"%>